@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import "modules/dresden.scss";

body {
  background: $wtf;
  color: #fff;

  /*align-items: center;
  justify-content: center;*/
  min-height: 100vh;
}
